body {
    display: flex;
    margin: 0;
    padding: 50px 0;
    text-align: center;
    background-color: #fc0;
}

.section {
    margin: 5px;
    padding: 5px;
    background-color: #f0f;
    border: 10px solid #000;
}

.group {
    margin: 5px;
    padding: 5px;
    background-color: #00f;
    border: 5px solid #000;
}

.panel {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    background-color: #eee;
    border: 5px inset #888;
}

.content {
    margin: 5px;
    padding: 10px;
    background-color: #ddd;
}

.heading {
    margin: 5px;
    padding: 5px;
}

.label {
    margin: 5px;
    padding: 5px;
}

.button {
    display: inline-block;
    margin: 1px;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border: 5px solid #000;
    cursor: pointer;
}

.button:disabled {
    background-color: #444;
    color: #fff;
    cursor: default;
}

.canvas {
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    background-color: #000;
}

#main {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    border: 15px solid #000;
    background-color: #fff;
}

#title {
    margin: 5px;
    padding: 20px;
}

#button-owave-show, #button-owave-hide {
    background-color: #ff0;
    color: #000;
}

#button-owave-show:disabled, #button-owave-hide:disabled {
    background-color: #660;
}

#button-control-source, #button-control-observer {
    padding: 10px 20px;
    color: #000;
}

#button-control-source {
    background-color: #f00;
}

#button-control-observer {
    background-color: #0f0;
}

#button-control-source:disabled {
    background-color: #600;
}

#button-control-observer:disabled {
    background-color: #060;
}
