body
{
    display: flex;
    margin: 0;
    padding: 50px 0;
    background-color: #fff060;
}

.section
{
    margin: 5px;
    padding: 5px;
    background-color: #ff00ff;
}

.group
{
    margin: 5px;
    padding: 5px;
    background-color: #0000ff;
}

.panel
{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #ffffff;
}

.content
{
    margin: 5px;
    padding: 10px;
    background-color: #dddddd;
}

.heading
{
    margin: 5px;
    padding: 5px;
}

.label
{
    margin: 5px;
    padding: 5px;
}

.button
{
    margin: 1px;
    padding: 1px 5px;
    background-color: #666666;
    color: #ffffff;
    border: 4px solid #000000;
    cursor: pointer;
}

.button:disabled
{
    opacity: 0.2;
    cursor: default;
}

.canvas
{
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    background-color: #000000;
}

#container
{
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border: 10px solid #000000;
}

#title
{
    margin: 5px;
    padding: 20px;
}

#button-owave-on, #button-owave-off
{
    color: #000000;
    background-color: #ffff00;
    border-color: #000000;
}

#button-control-source, #button-control-observer
{
    padding: 4px 10px;
    border-color: #000000;
}

#button-control-source
{
    background-color: #ff0000;
}

#button-control-observer
{
    color: #000000;
    background-color: #00ff00;
}
